h1
{
    color : black;
    border: 3px blue double;
    text-align : center;
    background-image:  "twitter.png";
}
#noms
{
    display : flex;
    flex-direction:line;
    justify-content:bottom;
    background-color:#00FFFF;
}
.element
{
    margin:auto;
}
body
{
   background-color: rgb(0,172,238);

}
img
{
	float: right;
}
